body{
  width: 1080px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(187, 14, 14);
  height: 70px;
  padding: 10px;
  width: 1025px;
  box-shadow: 6px 7px #888888;
  border: solid black 4px;
}

.App-title { font-style: italic;
  font-weight: bold;
  font-size: 40px; 
  text-shadow: 3px 3px black; 
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.pizza_image {
width: 275px;
border: solid black 3px;
box-shadow: 2px 4px black;
}

.pizza_desc {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border: solid black 2px;
  text-align: left;
  width: 270px;
  height: 105px;
  padding: 5px;
  margin: auto;
  box-shadow: 2px 4px black;
}

.pizzaItems {
  background-color: rgb(187, 14, 14);
  text-align: left;
  border: solid black 3px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 300px;
  height: auto;
  margin: 10px;
  box-shadow: 5px 10px #888888;
  display: inline-block;
}

.pizza_name {
  color: white;
font-weight: bold;
font-size: 22px;
text-shadow: 3px 3px black;
}

.pizza_price {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 3px 3px black;
}

.buy-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: green;
  width: 150px;
  height: 40px;
  box-shadow: 1px 2px black;
  padding: 5px;
}

.remove-btn {
  color: rgb(187, 14, 14);
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: white;
  width: 150px;
  height: 40px;
  box-shadow: 1px 2px black;
  padding: 5px;
}

.nav-btn {
  color: white;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(187, 14, 14);
  width: 85px;
  height: 30px;
  box-shadow: 1px 2px black;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.nav-list {
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 20px;
  line-height: 35px;
  list-style-type: none;
}

.pizza_form {
  background-color: rgb(187, 14, 14);
  text-shadow: 2px 2px black;
  box-shadow: 5px 10px #888888;
  border: solid black 3px;
  width: 950px;
  height: 110px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.form-align {
  margin-top: 5px;
  margin-left: 25px;
}

.next-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: green;
  width: 75px;
  height: 30px;
  box-shadow: 1px 2px black;
  padding: 5px;
  margin-left: 40px;
}

.homenext-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: green;
  width: 100px;
  height: 35px;
  box-shadow: 1px 2px black;
  padding: 5px;
  margin-left: 928px;
}
.admin_table {
  color: black;
  background-color: rgb(187, 14, 14);
  text-align: left;
  border: solid black 3px;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  width: 800px;
  height: auto;
  margin: 10px;
  box-shadow: 5px 10px #888888;
  display: inline-block;
  text-transform: capitalize;
}

.admin_head{
  background-color: rgb(202, 199, 199);
  width: 200px;
  margin-left: 20px;
}

.admin_line{
    background-color: white;
  width: 200px;
  margin-left: 20px;
}

.checkout_table {
  background-color: rgb(187, 14, 14);
  text-shadow: 2px 2px black;
  box-shadow: 5px 10px #888888;
  border: solid black 3px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.checkout-btn {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  background-color: green;
  width: 100px;
  height: 30px;
  box-shadow: 1px 2px black;
  padding: 5px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.checkout_line{
  margin-left: 10px;
}